body {
  background-image: url(https://picserio.com/image/crop-1366x768-0-0-2550-1432/2900623/);
}


.addmovie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin : 2%
  
}