body {
  background-image: url(https://a-static.besthdwallpaper.com/joker-comic-fond-d-ecran-1366x768-53110_46.jpg);
}


.addmovie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin : 2%
  
}
